html{
	font-size: 10px;
	font-fanily: "Open Sans", sans-serif;
	backgrond-color: #00539f;
}

h1{
	magin: 0;
	padding: 20px 0;
	color: #00539f;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
}

p,
li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body{
	width: 600px;
	magin: 0 auto;
	background-color: #ff9500;
	padding: 0 20px 20px 20px;
	boder: 5px solid black;
}

img{
	display: block;
	margin: 0 auto;
}


